
 
<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav  mode="side" class="example-sidenav" [ngStyle]="{ 'width.em': sidenavWidth }" opened="true" (mouseenter)="increase()"
    (mouseleave)="decrease()">
     <div class="logomain">Logo Part</div>  

    <mat-nav-list  *ngFor="let item of links">
      <mat-list-item [routerLink]="[item.link]" routerLinkActive="active" >
        <mat-icon mat-list-icon>  {{ item.icon }}</mat-icon>
        <div fxFlex="10"></div>
        <div *ngIf="sidenavWidth > 6" class="sidenav-item">
          <h5 class="lead"> {{ item.name }}</h5>
        </div>
      </mat-list-item>

     



    </mat-nav-list>

  </mat-sidenav>
  <mat-toolbar color="primary">
    <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="sidenav.toggle()"
      >
      <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
    </button>
    <span>Nation18India</span>
  </mat-toolbar>
  <div class="example-sidenav-content">
   <router-outlet></router-outlet>  
    <mat-icon (click)="sidenav.toggle()" class="sidenav-menu">menu</mat-icon>
  </div>


</mat-sidenav-container>